*::selection {
    background-color: #e6e6fa;
}

html {
    scroll-behavior: smooth !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: -80px !important;
    padding-top: 80px !important;

    &>a {
        display: none;
    }
}

aside {
    position: fixed;
    top: 200px;
    right: 25px;
    width: 250px;

    .toc {
        overflow-y: auto;
        width: 100%;
        max-height: 500px;
        padding: 15px 0 15px 15px;
        border-left: 1px solid #d0d0d0;

        p {
            margin-bottom: 15px;
            font-size: 18px;
            font-family: "GmarketSansB";
        }

        a {
            color: #000000;
            font-size: 16px;
            line-height: 1.4;
            text-decoration: none;

            &.active {
                color: #7b68ee;
                font-family: "GmarketSansM";
            }

            &.depth2 {
                margin-left: 12px;
                font-size: 15px;
            }

            &.depth3 {
                margin-left: 24px;
                font-size: 14px;
            }

            &.depth4 {
                margin-left: 36px;
                font-size: 13px;
            }
        }
    }
}

.blog-post-view {
    .title-view {
        padding-bottom: 20px;
        border-bottom: 1px solid #dbdbdb;

        h1 {
            margin-bottom: 12px;
            font-size: 38px;
            font-family: GmarketSansM;
        }

        p {
            font-size: 13px;
            font-family: GmarketSansL;
        }
    }

    .contents-view {
        padding: 20px 0;
        font-size: 16px;
        font-family: GmarketSansM;
    }

    .bio-view {}
}

.blog-post-nav {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        margin-top: 50px;
        padding: 0;

        a {
            color: #000000;
            font-size: 16px;
            font-family: GmarketSansM;
            text-decoration: none;
        }
    }
}