header {
    background-color: $white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    box-shadow: 0px 5px 9px 0px rgb(0, 0, 0, 0.05);
    z-index: 1000;

    a.title {
        color: $primary;
        font-size: 20px;
        font-family: GmarketSansB;
        text-decoration: none;
    }

    .opacity-view {
        background-color: rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;

        &.active {
            display: block;
        }
    }

    .hamberger {
        display: none;

        .fa-bars {
            transform: scale(1.5);
        }
    }

    nav {
        a {
            margin: 0 10px;
            color: $secondary;
            font-size: 15px;
            font-family: GmarketSansM;
            text-decoration: none;
        }
    }
}

main {
    flex: 1;
    width: 100%;
    max-width: 1024px;
    margin: 50px auto;
    padding: 0 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    height: 70px;
    margin: 0 auto;
    padding: 0 20px;
    border-top: 1px solid $border;

    .copyright {
        color: $black;
        font-size: 12px;
        font-family: GmarketSansM;
        text-align: center;
    }

    .powered {
        color: $secondary;
        font-size: 12px;
        font-family: GmarketSansM;
        text-align: center;
    }
}

// TABLET
@media (max-width: 768px) {
    header {
        padding: 0 15px;

        .hamberger {
            display: block;
        }

        nav {
            background-color: $white;
            overflow: hidden;
            position: fixed;
            top: 0;
            right: -999px;
            transition: right 0.5s;
            display: flex;
            flex-direction: column;
            width: 60vw;
            height: 100vh;
            padding: 30px 0;
            z-index: 1000;

            &.active {
                right: 0;
            }

            a {
                display: flex;
                align-items: center;
                width: 100%;
                height: 40px;
            }
        }
    }

    main {
        padding: 0 15px;
    }

    footer {
        padding: 0 15px;
    }
}

// MOBILE M
@media (max-width: 375px) {
    header {}

    main {
        padding: 0 10px;
    }

    footer {
        height: 50px;
        padding: 0 10px;

        .copyright {
            font-size: 10px;
        }

        .powered {
            font-size: 10px;
        }
    }
}