#container-404 {
    display: flex;
    align-items: center;

    img {
        width: 200px;
        margin-right: 30px;
        border-radius: 50%;
    }

    div {
        h1 {
            color: $primary;
            font-size: 40px;
            font-family: GmarketSansM;
        }

        p {
            margin-top: 20px;
            color: $black;
            font-size: 18px;
            font-family: GmarketSansL;
        }
    }
}

#container-home {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    z-index: 0;

    .logo-view {
        position: relative;
        width: 180px;
        height: 180px;
    }

    .logo {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        border: 3px solid $primary;
        border-radius: 50%;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        &:hover {
            width: 160px;
            height: 160px;
        }
    }

    h1 {
        margin: 15px 0;
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }
}

#container-resume {
    h1 {
        font-size: 38px;
        line-height: 1.2;
        white-space: pre-line;
        word-break: keep-all;
    }

    hr {
        margin: 50px 0;
    }

    section {
        margin-bottom: 50px;

        h2 {
            font-size: 32px;
            font-family: GmarketSansM;

            .dot {
                color: $primary;
                font-size: 48px;
            }
        }

        div.content-view {
            margin-top: 20px;
        }
    }

    section.introduce {
        div.flex-view {
            display: flex;
            align-items: center;
        }

        div.img-wrapper {
            position: relative;
            width: 350px;
            margin-right: 50px;

            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                object-fit: cover;
            }
        }

        div.info-view {
            h3 {
                margin: 20px 0;
                color: $primary;
                font-size: 24px;
                font-family: GmarketSansM;
            }

            div.content-box {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                i {
                    width: 14px;
                }

                .content {
                    margin-left: 10px;
                    color: $black;
                    font-size: 14px;
                }

                a {
                    text-decoration: none;
                    border-bottom: 1px solid $border;
                }
            }
        }
    }

    section.experience {
        .experience-item {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $border;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }

            a {
                color: $black;
                text-decoration: none;

                &>span {
                    display: inline-block;
                    margin-bottom: 10px;
                    border-bottom: 1px solid $border;
                    font-size: 25px;
                }
            }

            h3 {
                font-size: 25px;
                margin-bottom: 12px;
            }

            p.description {
                margin-bottom: 18px;
                font-size: 14px;
            }

            div.flex-view {
                display: flex;

                div.left {
                    width: 250px;

                    p.position {
                        margin-bottom: 8px;
                        font-size: 16px;
                        font-family: GmarketSansM;
                    }

                    p.period {}
                }

                div.right {
                    flex: 1;

                    li {
                        line-height: 1.4;
                    }
                }
            }
        }
    }

    section.skill {
        li {
            line-height: 1.4;
        }
    }

    section.sideproject {
        .project-item {
            margin-bottom: 50px;

            &:last-child {
                margin: 0;
            }

            div.flex-view {
                display: flex;
                align-items: center;
                margin-bottom: 6px;
            }

            h4 {
                font-size: 20px;
            }

            a {
                margin-left: 12px;

                i {
                    color: #dbdbdb;
                }

                &:hover {
                    i {
                        color: #000000;
                    }
                }
            }

            p.description {
                margin-bottom: 8px;
                font-size: 14px;
            }

            div.img-wrapper {
                position: relative;
                width: 350px;
                margin-right: 50px;

                &::after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #f0f0f0;
                    border-radius: 8px;
                    object-fit: contain;
                }
            }

            ul {
                margin-top: 8px;

                li {
                    font-size: 13px;
                    line-height: 1.2;
                }
            }
        }
    }

    section.education {}
}

#container-blog {
    aside {
        position: absolute;
        top: 265px;
        left: 50px;

        h2 {
            margin-bottom: 20px;
            color: $primary;
            font-size: 24px;
            font-family: GmarketSansM;
        }

        a {
            display: block;
            margin-bottom: 12px;
            color: $secondary;
            font-size: 16px;
            font-family: GmarketSansM;
            text-decoration: none;

            &.active {
                color: $black;
            }
        }
    }

    .blog-list-view {
        padding-top: 30px;

        .blog-list-item {
            margin-bottom: 40px;
            padding: 16px;
            transition: 0.3s;

            a {
                text-decoration: none;
            }

            h2 {
                margin-bottom: 12px;
                color: $black;
                font-size: 24px;
                font-family: GmarketSansM;

            }

            .date {
                margin-bottom: 12px;
                font-size: 13px;
            }

            ul.tag-list {
                display: flex;
                margin-bottom: 12px;

                li {
                    margin-right: 10px;

                    button {
                        cursor: pointer;
                        background-color: $primary;
                        padding: 4px 6px;
                        border-radius: 6px;
                        color: #ffffff;
                        font-size: 14px;
                        font-family: GmarketSansM;
                    }
                }
            }

            .description {
                color: $black;
                font-size: 16px;
                font-family: GmarketSansL;
                line-height: 1.4;
            }

            &:hover {
                transform: translate(0, -5px);
                box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
            }
        }
    }
}

// TABLET
@media (max-width: 768px) {
    #container-404 {
        img {
            width: 150px;
            margin-right: 20px;
        }

        div {
            h1 {
                font-size: 25px;
            }

            p {
                margin-top: 20px;
                font-size: 15px;
            }
        }
    }

    #container-home {}

    #container-resume {
        section.introduce {
            div.flex-view {
                flex-direction: column;
            }

            div.img-wrapper {
                width: 100%;
                margin: 0;
            }

            div.info-view {
                width: 100%;
            }
        }

        section.experience {
            div.flex-view {
                flex-direction: column;

                div.right {
                    margin-top: 30px;
                }
            }
        }

        section.skill {}

        section.sideproject {}

        section.education {}
    }

    #container-blog {}
}

// MOBILE M
@media (max-width: 375px) {
    #container-404 {
        flex-direction: column;
        align-items: flex-start;

        img {
            width: 120px;
            margin: 0;
            margin-bottom: 20px;
        }

        div {
            h1 {
                font-size: 20px;
            }

            p {
                margin-top: 20px;
                font-size: 13px;
            }
        }
    }

    #container-home {}

    #container-resume {
        section.sideproject {
            .project-item {
                div.img-wrapper {
                    width: 100%;
                }
            }
        }
    }

    #container-blog {}
}